<p>Quantity Threshold: <%= @discount.quantity_threshold %></p>
<p>Percentage: <%= @discount.percentage %>%</p>

<%= link_to 'Edit Discount', edit_merchant_bulk_discount_path(@discount.merchant, @discount) %>
